---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Rajat Mhetre | Blog";
---

<Layout pageTitle={pageTitle}>
    <h1>Blog</h1>

    <ul>
        <li><a href="/posts/default-arguments-in-python/">default-arguments-in-python</a></li>
    </ul>
</Layout>
