---
import { FaLinkedin, FaGithub } from "react-icons/fa6";

import Emoji from "astro-emoji";
import Layout from "../layouts/Layout.astro";

const pageTitle = "Rajat Mhetre";
---

<Layout pageTitle={pageTitle}>
	<h1 class="py-4 text-4xl font-extrabold">
		Hi <Emoji symbol="👋" label="hi" />
	</h1>
	<p class="py-1">My name is Rajat</p>
	<p class="py-1 text-justify">
		I'm a hands-on software engineer with a passion for tackling
		mission-critical challenges using my machine learning and software
		engineering expertise.
	</p>

	<p class="py-1 text-justify">
		Throughout my career, I've effortlessly worn multiple hats. From
		training over a billion-parameter model utlizing distributed GPUs, to
		leading two teams in creating an infinitely scalable and fault-tolerant
		Lakehouse for storing and querying terabytes of data. As a founding
		engineer, I scaled a personalized recommendation engine from scratch to
		generate over a million recommendations daily. I collaborated with
		cross-functional teams to tailor reporting solutions for enterprise
		needs. Additionally, I built a real-time personalized search engine,
		helping 100K users find parking spots effortlessly.
	</p>

	<div class="flex flex-wrap gap-2 py-2">
		<a
			class="text-4xl"
			title="LinkedIn"
			href="https://linkedin.com/in/mhetrerajat/"
			target="_blank"><FaLinkedin /></a
		>

		<a
			class="text-4xl"
			href="https://github.com/mhetrerajat"
			target="_blank"
			title="Github"><FaGithub /></a
		>
	</div>
</Layout>
