---
import { Breadcrumb } from "flowbite-react";

import Layout from "../layouts/Layout.astro";

import PostList from "../components/react/PostList";

const pageTitle = "Rajat Mhetre | Posts";

import { getCollection, getEntry } from "astro:content";

const posts = await getCollection("posts");
---

<Layout pageTitle={pageTitle}>
    <Breadcrumb aria-label="Default breadcrumb example" className="py-3">
        <Breadcrumb.Item href="/"> Home </Breadcrumb.Item>
        <Breadcrumb.Item>Posts</Breadcrumb.Item>
    </Breadcrumb>

    <h1 class="py-4 text-4xl font-extrabold">Posts</h1>

    <PostList
        posts={posts
            .filter((x) => !x.data.draft)
            .sort((a, b) => b.data.pubDate - a.data.pubDate)
            .map((x) => ({
                postDate: new Date(x.data.pubDate).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                    timeZone: "UTC",
                }),
                title: x.data.title,
                link: `/posts/${x.slug}`,
            }))}
    />
</Layout>
