---
import HeaderBar from "./react/HeaderBar";
---

<div class="flex">
    <div class="flex-none w-64 h-14"></div>
    <div class="flex-auto h-14">
        <HeaderBar />
    </div>
    <div class="flex-none w-64 h-14"></div>
</div>
