---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
      Hi 👋
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">My name is Rajat</p>
    <p class="mb-5">
      My tryst with computers started with a dream to build a website. Right
      now, I'm at SoloFunds, working on improving the Credit Risk Model, also
      known as the SoLo Score, to help more than a million active users.
    </p>

    <p class="mb-5">
      I occasionally write about topics like Data Engineering, Distrbuted System
      Architecture, MLOps / DataOps and AWS.
    </p>
    <div
      class="justify-self-end py-2 flex items-center content-center text-text-bold"
    >
      <a
        class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
        href="https://www.linkedin.com/in/mhetrerajat"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin" aria-hidden="true" title="LinkedIn"
        ></i>
        <span>LinkedIn</span>
      </a>
      <a
        class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
        href="https://github.com/mhetrerajat"
        target="_blank"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
        href="https://twitter.com/mhetrerajat"
        target="_blank"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
  </div>
</section>
