---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Rajat Mhetre
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">My name is Rajat</p>
    <p class="mb-5">
      My tryst with computers started with a dream to build a website. Right
      now, I'm at SoloFunds, working on improving the Credit Risk Model, also
      known as the SoLo Score, to help more than a million active users.
    </p>

    <!-- <p class="mb-5">
      I'm a hands-on software engineer with a passion for tackling
      mission-critical challenges using my machine learning and software
      engineering expertise. I'm a lifelong learner and am currently seeking
      opportunities to make a positive impact while having some fun along the
      way.
    </p>
    <p class="mb-5">
      Throughout my career, I've effortlessly worn multiple hats. From training
      over a billion-parameter model utilizing distributed GPUs, to leading two
      teams in creating an infinitely scalable and fault-tolerant Lakehouse for
      storing and querying terabytes of data. As a founding engineer, I scaled a
      personalized recommendation engine from scratch to generate over a million
      recommendations daily. I collaborated with cross-functional teams to
      tailor reporting solutions for enterprise needs. Additionally, I built a
      real-time personalized search engine, helping 100K users find parking
      spots effortlessly.
    </p>
    <p class="mb-5">
      Key skills / areas of expertise: Applied ML, MLOps, Deep Learning, Data
      Engineering, Developing and Scaling Distributed Software Systems, AWS,
      Apache Spark, Distributed Training, Data Processing Pipelines, Big Data,
      Microservices, Event-Driven Architecture
    </p> -->
  </div>
</section>
